<a href="https://colab.research.google.com/github/nitinlodhi019/Data-Structure/blob/main/Functions/Filter_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**The filter() function in Python is a built-in function that filters a sequence of values based on a given condition. It is used to extract specific data from a large set of data.**

In [ ]:
def even(n):
  if n%2==0:
    return True

even(10)

True

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14]
list(filter(even, numbers))

[2, 4, 6, 8, 10, 12, 14]

#Filter with lambda

In [ ]:
greater_than_five = list(filter(lambda x: x>5, numbers))
print(greater_than_five)

[6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
even_and_greater_than_five = list(filter(lambda x: x>5 and x%2==0, numbers))
print(even_and_greater_than_five)

[6, 8, 10, 12, 14]

#Dictonary

In [ ]:
people = [
    {"name": "Harry",'age':15},
    {"name": "Cho", 'age':32},
    {"name": "Draco",'age':25},
    {"name": "Luna",'age':12},
    {"name": "Padma",'age':18}
]

def age_greater_than25(person):
  return person['age'] > 25

list(filter(age_greater_than25, people))

[{'name': 'Cho', 'age': 32}]