<a href="https://colab.research.google.com/github/nitinlodhi019/Data-Structure/blob/main/Functions/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def odd_or_even(number):
  """This function finds even or odd"""
  if number%2==0:
    print('number is even')
  else:
    print('number is odd')

a = input()
odd_or_even(int(a))

34
number is even

#Multiple Parameter

In [ ]:
def add(a, b):
  return a+b

result= add(2,3)
print(result)

5

#Default Parameter

In [ ]:
def greet(name):
  print(f'hello {name}, welcome in this  programming world')

greet('sonu')

hello sonu, welcome in this  programming world

In [ ]:
def greet(name='buddy'):
  print(f'hello {name}, welcome in this  programming world')

greet()

hello buddy, welcome in this  programming world

In [ ]:
def greet(name='buddy'):
  print(f'hello {name}, welcome in this  programming world')

greet('mohan')

hello mohan, welcome in this  programming world

#Variable length Arguments

##Positional Arguments
**args have multiple arguments**

In [ ]:
def print_num(*args):
  for numbers in args:
    print(numbers)

print_num(1, 2, 3, 'hello', 4, 5, 2.3)

1
2
3
hello
4
5
2.3

##Keyword arguments
**kwargs store values in form of key value pair**

In [ ]:
def print_details(**kwargs):
  for key, value in kwargs.items():
    print(f'{key}:{value}')

print_details(name='nitin', age=32, country='india')

name:nitin
age:32
country:india

##Combine
**we cannot give positional argumnet after keyword arguments**

In [ ]:
##We can see
def print_num(*args, **kwargs):
  for values in args:
    print(values)

  for key, value in kwargs.items():
    print(f'{key}:{value}')


print_num(1, 2, 3, 'hello', name='nitin', age=32, country='india', 4, 5, 2.3)

SyntaxError: positional argument follows keyword argument (<ipython-input-18-3008b1efe1dd>, line 10)

In [ ]:
def print_num(*args, **kwargs):
  for values in args:
    print('positional arguments',values)

  for key, value in kwargs.items():
    print(f'{key}:{value}')


print_num(1, 2, 3, 'hello', name='nitin', age=32, country='india')

positional arguments 1
positional arguments 2
positional arguments 3
positional arguments hello
name:nitin
age:32
country:india

#Examples

##1. Temperature Conversion

In [ ]:
def convert_tem(temp, unit):
  """This function help to converte temperature between celcius to fahrenheit"""
  if unit=='C':
    return (temp*9/5)+32
  elif unit=='F':
    return (temp-32)*5/9
  else:
    return 'Invalid unit'

print(convert_tem(25,'C'))
print(convert_tem(66,'F'))

77.0
18.88888888888889

##2. Password strength checker

In [ ]:
def is_strong_password(password):
   if len(password)<8:
    return False
   if not any(char.isdigit() for char in password):
    return False
   if not any(char.isupper() for char in password):
    return False
   if not any(char.islower() for char in password):
    return False
   if not any(char in '!@#$%^&*()' for char in password):
    return False
   return True

print(is_strong_password('WeakPwd'))
print(is_strong_password('MediumPwd123'))
print(is_strong_password('StrongPwd!123'))

False
False
True

##3. Calculate total cost of items

In [ ]:
def calculate_total_cost(cart):
  total_cost=0
  for item in cart:
    total_cost += item['price']*item['quantity']
  return total_cost

cart=[
    {'name':'item1', 'price':5, 'quantity':2},
    {'name':'item2', 'price':10, 'quantity':1},
    {'name':'item3', 'price':15, 'quantity':3}
]

total_cost=calculate_total_cost(cart)
print(f'Total cost of the cart is ${total_cost}')

Total cost of the cart is $65

##4. Check if a string is Palindrome