<a href="https://colab.research.google.com/github/nitinlodhi019/Data-Structure/blob/main/Functions/Map_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Map in Python is a function that works as an iterator to return a result after applying a function to every item of an iterable (tuple, lists, etc.). It is used when you want to apply a single transformation function to all the iterable elements. The iterable and function are passed as arguments to the map in Python.**

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9]

In [ ]:
list(map(lambda num: num**2, numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
def square(x):
  return x*x


list(map(square, numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

#multiple iterables

In [ ]:
numbers1= [1,2,3]
numbers2= [4,5,6]

added_num = list(map(lambda x,y : x+y, numbers1, numbers2))
print(added_num)

[5, 7, 9]

#inbuilt fun

In [ ]:
str_num = ['1', '2', '3']
int_num = list(map(int, str_num))
print(int_num)

[1, 2, 3]

In [ ]:
words = ['apple', 'banana', 'cherry']
upper_words = list(map(str.upper, words))
print(upper_words)

['APPLE', 'BANANA', 'CHERRY']

#Dictonary

In [ ]:
people = [{'name': 'Alice', 'age': 30},
          {'name': 'Bob', 'age': 25},
          {'name': 'Charlie', 'age': 35}]

names = list(map(lambda person: person['name'], people))
print(names)

def get_age(person):
  return person['age']

list(map(get_age, people))

['Alice', 'Bob', 'Charlie']

[30, 25, 35]