<a href="https://colab.research.google.com/github/nitinlodhi019/Data-Structure/blob/main/Inbuilt-Function/Inbuilt_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1 . Sum of List Elements

In [ ]:
def Sum_of_List_Elements(lis):
  #return sum(lis)
  sum = 0
  for i in range(len(lis)):
    sum += lis[i]

  return sum

lis = list(map(int, input().split()))
print('List is: ', lis)
print("Sum is: ", Sum_of_List_Elements(lis))

1 2 3 4 5 7 8
List is:  [1, 2, 3, 4, 5, 7, 8]
Sum is:  30

# 2 . Largest Element in a List

In [ ]:
def Largest_Element_ina_List(lis):
  #return max(lis)
  max = 0
  for i in range(1, len(lis)):
    if lis[max] < lis[i]:
      max = i

  return lis[max]

lis = list(map(int, input().split()))
print('List is: ', lis)
print("Max is: ", Largest_Element_ina_List(lis))

23 32 1 2443 32
List is:  [23, 32, 1, 2443, 32]
Max is:  2443

# 3 . Remove Duplicate in a List

In [ ]:
def remove_duplicates(arr):
    return list(set(arr))

lis = list(map(int, input("Enter numbers: ").split()))

print('Original List:', lis)
print("List after removing duplicates:", remove_duplicates(lis))

Enter numbers: 1 2 5 2 1 1 9 8 5 6 3 2
Original List: [1, 2, 5, 2, 1, 1, 9, 8, 5, 6, 3, 2]
List after removing duplicates: [1, 2, 3, 5, 6, 8, 9]

In [ ]:
def remove_duplicates(arr):
    result = []
    for i in arr:
      if i not in result:
        result.append(i)

    return result

lis = list(map(int, input("Enter numbers: ").split()))
print('Original List:', lis)
print("List after removing duplicates:", remove_duplicates(lis))

Enter numbers: 1 4  2 7 8 3 7 4 5  1  4 2 6 8 5 2 3 1 1
Original List: [1, 4, 2, 7, 8, 3, 7, 4, 5, 1, 4, 2, 6, 8, 5, 2, 3, 1, 1]
List after removing duplicates: [1, 4, 2, 7, 8, 3, 5, 6]

# 4 . Check if all elements in a list are Unique

In [ ]:
def Unique_elements(arr):
  for i in range(len(arr)-1):
    for j in range(i+1, len(arr)):
      if arr[i] == arr[j]:
        return False
  return True

arr = list(map(int, input("Enter values: ").split()))
Unique_elements(arr)

Enter values: 12 5 6 3 8 0 4

True

# 5 . Reverse a List (Non-Slicing Approach)

In [ ]:
def reverse_list(arr):
  result = []
  n = len(arr)
  for i in range(n-1, -1, -1):
    result.append(arr[i])

  return result

arr = list(map(int, input("Enter values: ").split()))
reverse_list(arr)

Enter values: 1 2 3 4 5 6 7

[7, 6, 5, 4, 3, 2, 1]

# 6 . Count Number of Odd and Even Elements in a List

In [ ]:
def Count_Number(arr):
  odd = 0
  even = 0
  for i in range(len(arr)):
    if arr[i]%2 == 0:
      even += 1
    else:
      odd += 1

  return even, odd

arr = list(map(int, input("Enter values: ").split()))
Count_Number(arr)

Enter values: 1 2 3 4 5 6 7 8 9 0

(5, 5)

# 7 . Maximum difference between two consecutive elements in a list.

In [ ]:
def maximum(arr):
  max = 0
  for i in range(len(arr)-1):
    difference = abs(arr[i] - arr[i+1])
    if max < difference :
      max = difference

  return max

arr = list(map(int, input("Enter values: ").split()))
maximum(arr)

Enter values: 1 7 3 10 5

7

# 8 . Merge two Sorted List

In [ ]:
def merge(arr1, arr2):
  result = arr1 + arr2
  result.sort()
  return result
arr1 = list(map(int, input("Enter values for arr1: ").split()))
arr2 = list(map(int, input("Enter values for arr2: ").split()))
arr1.sort()
arr2.sort()
merge(arr1, arr2)

Enter values for arr1: 2 5 1 4 3
Enter values for arr2: 9 0 6 8 7

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# 9 . Rotate a List (Without Slicing)

In [ ]:
def rotate(arr, position):
  if len(arr) == 0:
    return arr

  for i in range(position):
    temp = arr[len(arr)-1]
    for j in range(len(arr)-1, 0, -1):
      arr[j] = arr[j-1]
    arr[0] = temp
  return arr

arr = list(map(int, input("Enter values: ").split()))
position = int(input("Enter position: "))
rotate(arr, position)

Enter values: 10 20 30 40 50
Enter position: 2

[40, 50, 10, 20, 30]

In [ ]:
def rotate(arr, position):
  if not arr:
    return []

  for _ in range(position):
    last_element = arr.pop()
    arr.insert(0, last_element)
  return arr



arr = list(map(int, input("Enter values: ").split()))
position = int(input("Enter position: "))
rotate(arr, position)

Enter values: 10 50 60 90 30 20
Enter position: 3

[90, 30, 20, 10, 50, 60]

# 10 . Merge 2 List into Dictionary

In [ ]:
def Merge2_List_into_Dictionary(key, value):
  result = dict(zip(key, value))
  return result

key = input('Enter Key of dictionary: ').split()
value = list(map(int, input('Enter value of dictionary: ').split()))
Merge2_List_into_Dictionary(key, value)

Enter Key of dictionary: x y z
Enter value of dictionary: 1 2 3

{'x': 1, 'y': 2, 'z': 3}

In [ ]:
def Merge2_List_into_Dictionary(key, value):
  if(len(key) != len(value)):
    return False

  result = {}
  for i in range(len(key)):
    result[key[i]] = value[i]

  return result

key = input('Enter Key of dictionary: ').split()
value = list(map(int, input('Enter value of dictionary: ').split()))
Merge2_List_into_Dictionary(key, value)

Enter Key of dictionary: x y z
Enter value of dictionary: 4 3 2

{'x': 4, 'y': 3, 'z': 2}

# 11 . Merge Multiple Dictionaries

In [ ]:
def Merge_Multiple_Dictionaries(dict1, dict2, dict3):
  result = {**dict1, **dict2, **dict3}
  return result

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict3 = {'e': 5, 'f': 6}
Merge_Multiple_Dictionaries(dict1, dict2, dict3)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [ ]:
def Merge_Multiple_Dictionaries(dict1, dict2, dict3):
  result = dict1.copy()
  result.update(dict2)
  result.update(dict3)
  return result

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict3 = {'e': 5, 'f': 6}
Merge_Multiple_Dictionaries(dict1, dict2, dict3)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [ ]:
def Merge_Multiple_Dictionaries(dict1, dict2, dict3):
  result = {}
  for d in (dict1, dict2, dict3):
    result.update(d)
  return result

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict3 = {'e': 5, 'f': 6}
Merge_Multiple_Dictionaries(dict1, dict2, dict3)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

# 12 . Words Frequency in a Sentence

In [ ]:
def Words_Frequency_ina_Sentence(sentence):
  words = sentence.split()
  result = {}
  for word in words:
    if word in result:
      result[word] += 1
    else:
      result[word] = 1
  return result

sentence = input("Enter sentence: ")
Words_Frequency_ina_Sentence(sentence)

Enter sentence: my name is nitin and i am nitin

{'my': 1, 'name': 1, 'is': 1, 'nitin': 2, 'and': 1, 'i': 1, 'am': 1}

# 13 . Palindromic Tuple

In [ ]:
def Palindromic_Tuple(tup):
  for i in range(len(tup)):
    if tup[i] != tup[len(tup)-1-i]:
      return False
  return True

tup = tuple(input('Enter values: ').split())
Palindromic_Tuple(tup)

Enter values: 1 2 3 4 2 1

False

# 14 . Merge Dictionaries with Common Keys

In [ ]:
def Merge_Dictionaries_with_Common_Keys(dicts):
  if not dicts:
    return {}

  result = {}
  for dict in dicts:
    for key, value in dict.items():
      if key in result:
        result[key] +=value
      else:
        result[key] = value
  return result

size = int(input("How many dictionary you want to sstore in list: "))
dicts = []
for i in range(1, size+1):
  dict = {}
  key = input(f'Enter Key of dictionary {i}: ').split()
  value = list(map(int, input(f'Enter value of dictionary {i}: ').split()))
  if(len(key) == len(value)):
    for j in range(len(key)):
      dict[key[j]] = value[j]
  dicts.append(dict)

Merge_Dictionaries_with_Common_Keys(dicts)

How many dictionary you want to sstore in list: 3
Enter Key of dictionary 1: a b
Enter value of dictionary 1: 1 3
Enter Key of dictionary 2: b
Enter value of dictionary 2: 6
Enter Key of dictionary 3: a d
Enter value of dictionary 3: 7 0

{'a': 8, 'b': 9, 'd': 0}

In [ ]:
def merge_dicts_with_overlapping_keys(dicts):

    result = {}
    for d in dicts:
      for key, value in d.items():
        if key in result:
          result[key] += value
        else:
          result[key] = value

    return result

# 15 . Check if List is Subset of another List

In [ ]:
def is_Subset(lst1, lst2):
  if len(lst1) > len(lst2):
    return False

  if not lst1:
    return True

  for i in lst1:
    if i not in lst2:
      return False
  return True


lst1 = list(map(int, input("Enter Values: ").split()))
lst2 = list(map(int, input("Enter Values: ").split()))
is_Subset(lst1, lst2)

Enter Values: 1 2
Enter Values: 1 3 4 5

False

In [5]:
def is_subset(lst1, lst2):

    for element in lst1:
        found = False
        for item in lst2:
            if item == element:
                found = True
                break
        if not found:
            return False
    return True

lst1 = list(map(int, input("Enter Values: ").split()))
lst2 = list(map(int, input("Enter Values: ").split()))
is_subset(lst1, lst2)

Enter Values:
Enter Values: 1

True