<a href="https://colab.research.google.com/github/nitinlodhi019/Data-Structure/blob/main/Array/List_Array_Practice_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1 . Maximum Element in a List.

In [ ]:
def find_max_element(lst):
  max = lst[0]
  for i in lst:
    if i > max:
      max = i
  return max

lst = list(map(int, input("Enter the value of List:").split()))
print("Maximum element is:", find_max_element(lst))

Enter the value of List:324 565 989 0 35
Maximum element is: 989

# 2 . Sum of Elements in a List

In [ ]:
def sum_of_elements(lst):
  sum = 0
  for i in lst:
    sum += i
  return sum

lst = list(map(int, input("Enter the value of List:").split()))
print("Sum of element is:", sum_of_elements(lst))

Enter the value of List:1 2 3 4 5 6
Sum of element is: 21

# 3 . Palindrome List

In [ ]:
def is_palindrome(lst):
  if len(lst) == 0:
      return False

  for i in range(len(lst)//2):
    if lst[i] != lst[len(lst)-1-i]:
      return False
    else:
      return True

lst = list(map(int, input("Enter the value of List:").split()))
is_palindrome(lst)

Enter the value of List:

False

In [ ]:
def is_palindrome(lst):
    left = 0
    right = len(lst) - 1

    while left < right:
        if lst[left] != lst[right]:
            return False
        left += 1
        right -= 1

    return True

lst = list(map(int, input("Enter the value of List:").split()))
is_palindrome(lst)

Enter the value of List:

True

# 4 . Reverse a List

In [ ]:
def reverse_list(lst):
  x = len(lst)//2
  for i in range(x):
    lst[i], lst[len(lst)-1-i] = lst[len(lst)-1-i], lst[i]
  return lst

lst = list(map(int, input("Enter the value of List:").split()))
reverse_list(lst)

Enter the value of List:4 9 0 1 5 6

[6, 5, 1, 0, 9, 4]

# 5 . Rotate List

In [ ]:
def rotate_left(ARR, D):
  for i in range(D):
    j = 0
    while j < (len(ARR) - 1):
      ARR[j], ARR[j+1] = ARR[j+1], ARR[j]
      j += 1
  return ARR

ARR = list(map(int, input("Enter the value of List:").split()))
D = int(input("The no of position: "))
rotate_left(ARR, D)

Enter the value of List:12 23 5 878 9
The no of position: 2

[5, 878, 9, 12, 23]

# 6 . Is Array Sorted(Increasing Order)?

In [ ]:
def is_sorted(arr):
  for i in range(len(arr)-1):
    if arr[i] > arr[i+1]:
      return False
  return True

arr = list(map(int, input("Enter the value of List:").split()))
is_sorted(lst)

Enter the value of List:23 4 23 6 56

False

# 7 . Move Zeroes

In [ ]:
def move_zeroes(arr):

  for i in range(len(arr)):
    for j in range(len(arr)):
      if arr[j] == 0:
        while j < len(arr)-1:
          arr[j], arr[j+1] = arr[j+1], arr[j]
          j += 1
  return arr

arr = list(map(int, input("Enter Values: ").split()))
move_zeroes(arr)

Enter Values: 1 0 0 0 3 0 0 0 4 5 6 0 6 7

[1, 3, 4, 5, 6, 6, 7, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
def move_zeroes1(arr):
    n = len(arr)
    non_zero_index = 0
    for i in range(n):
        if arr[i] != 0:
            arr[non_zero_index], arr[i] = arr[i], arr[non_zero_index]
            non_zero_index += 1
    return arr

arr = list(map(int, input("Enter Values: ").split()))
print("Output:", move_zeroes1(arr))

Enter Values: 1 0 2 0 0 4 0 0 5
Output: [1, 2, 4, 5, 0, 0, 0, 0, 0]

# 8 . Intersection of two Lists

In [ ]:
def intersection(nums1, nums2):
  result = set()
  for i in nums1:
    if i in nums2:
      result.add(i)
  return list(result)

nums1 = list(map(int, input("Enter values for num1: ").split()))
nums2 = list(map(int, input("Enter values for num2: ").split()))
intersection(nums1, nums2)

Enter values for num1: 2 2
Enter values for num2: 2 2

[2]

# 9 . Max Consecutive Ones

In [5]:
def find_max_consecutive_ones(nums):
    max_count = 0
    current_count = 0

    for num in nums:
        if num == 1:
            current_count += 1
            max_count = max(max_count, current_count)
        else:
            current_count = 0

    return max_count

nums = [1, 0, 1, 1, 0, 1, 1, 1, 1]
print(find_max_consecutive_ones(nums))

4

# 10 . Maximum Subarray Sum

In [11]:
def max_subarray_sum(arr):
    if not arr:
        return 0

    max_sum = float('-inf')
    current_sum = 0

    for num in arr:
        current_sum += num
        max_sum = max(max_sum, current_sum)
        if current_sum < 0:
            current_sum = 0

    return max_sum

arr = [-2, 1, -3, 4, -1, 2, 1, -5, 4]
print(max_subarray_sum(arr))

6

# 11 . Plus One in the Number

In [12]:
def plus_one(digits):
    n = len(digits)
    for i in range(n - 1, -1, -1):
        if digits[i] < 9:
            digits[i] += 1
            return digits
        digits[i] = 0
    return [1] + digits

print(plus_one([1, 2, 3]))  # Output: [1, 2, 4]
print(plus_one([4, 3, 2, 1]))  # Output: [4, 3, 2, 2]
print(plus_one([9, 9, 9]))  # Output: [1, 0, 0, 0]
print(plus_one([0]))  # Output: [1]

[1, 2, 4]
[4, 3, 2, 2]
[1, 0, 0, 0]
[1]

# 12 . Missing Number

In [ ]:
def missingNumber(nums):
    n = len(nums)
    expected_sum = n * (n + 1) // 2
    actual_sum = sum(nums)
    return expected_sum - actual_sum


print(missingNumber([3, 0, 1]))  # Output: 2
print(missingNumber([0, 1]))  # Output: 2
print(missingNumber([9,6,4,2,3,5,7,0,1]))  # Output: 8