<a href="https://colab.research.google.com/github/nitinlodhi019/Data-Structure/blob/main/Pattern/Pattern.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1 . Square of side N

In [ ]:
def square(n):
  for i in range(n):
    for j in range(n):
      print('*', end='')
    print()

num = int(input('Enter a number:'))
square(num)

Enter a number:4
****
****
****
****

In [ ]:
def square(n):
    square = []
    for i in range(n):
        square.append('*' * n)
    return square

square(5)

['*****', '*****', '*****', '*****', '*****']

# 2 . Hollow square of N

In [ ]:
def hollow_square(n):
  for i in range(n):
    for j in range(n):
      if i==0 or i==n-1 or j==0 or j==n-1:
        print('*', end='')
      else:
        print(' ', end='')
    print()

num = int(input('Enter a number:'))
hollow_square(num)

Enter a number:5
*****
*   *
*   *
*   *
*****

In [ ]:
def hollow_square(n):
    square = []
    if n == 1:
        return ['*']
    square.append('*' * n)
    for i in range(n - 2):
        square.append('*' + ' ' * (n - 2) + '*')
    square.append('*' * n)
    return square

hollow_square(5)

['*****', '*   *', '*   *', '*   *', '*****']

# 3 . Rectange Pattern

In [ ]:
def rectangle(n, m):
  for i in range(n):
    for j in range(m):
      print('*', end='')
    print()

n, m = map(int, input('Enter a number:').split())
rectangle(n, m)

Enter a number:3 5
*****
*****
*****

In [ ]:
def rectangle(n, m):
    square = []
    for i in range(n):
      square.append('*' * m)
    return square

rectangle(3, 5)

['*****', '*****', '*****']

# 4 . Left Angled Triangle

In [ ]:
def Left_angled_triangle(n):
  for i in range(n):
    for j in range(i+1):
      print('*', end="")
    print()

n = int(input('Enter a number: '))
Left_angled_triangle(n)

Enter a number: 5
*
**
***
****
*****

In [ ]:
def Left_angled_triangle(n):
  triangle = []
  for i in range(n):
    triangle.append('*' * (i+1))
  return triangle

n = int(input('Enter a number: '))
Left_angled_triangle(5)

Enter a number: 5

['*', '**', '***', '****', '*****']

# 5 . Inverted Left Angled Triangle

In [ ]:
def Inverted_Left_Angled_Triangle(n):
  for i in range(n, 0, -1):
    for j in range(i):
      print("*", end="")
    print()

n = int(input('Enter a number: '))
Inverted_Left_Angled_Triangle(n)

Enter a number: 5
*****
****
***
**
*

In [ ]:
def Inverted_Left_Angled_Triangle(n):
  triangle = []
  for i in range(n, 0, -1):
    triangle.append('*' * i)
  return triangle

n = int(input('Enter a number: '))
Inverted_Left_Angled_Triangle(n)

Enter a number: 5

['*****', '****', '***', '**', '*']

# 6 .Pyramid Pattern

In [ ]:
def Pyramid_Pattern(n):
  for i in range(n):
    star = 2 * i + 1
    space = n - i -1
    print(' '* space + '*'* star + ' '*space )
  print()

n = int(input('Enter a number: '))
Pyramid_Pattern(n)

Enter a number: 6
     *
    ***
   *****
  *******
 *********
***********

In [ ]:
def Pyramid_Pattern(n):
  pattern = []
  for i in range(n):
    star = 2 * i + 1
    space = n - i -1
    pattern.append(' '* space + '*'* star + ' '*space )
  return pattern

n = int(input('Enter a number: '))
Pyramid_Pattern(n)

Enter a number: 3

['  *  ', ' *** ', '*****']


#7 . Inverted Pyramid Pattern

In [ ]:
def Inverted_Pyramid_Pattern(n):
  for i in range(n-1, 0-1, -1):
    star = 2 * i + 1
    space = n - i -1
    print(' '* space + '*'* star + ' '*space )
  print()

n = int(input('Enter a number: '))
Inverted_Pyramid_Pattern(n)

Enter a number: 5
*********
 *******
  *****
   ***
    *

In [ ]:
def Inverted_Pyramid_Pattern(n):
  pattern = []
  for i in range(n-1, -1, -1):
    star = 2 * i + 1
    space = n - i -1
    pattern.append(' '* space + '*'* star + ' '*space )
  return pattern

n = int(input('Enter a number: '))
Inverted_Pyramid_Pattern(n)

Enter a number: 3

['*****', ' *** ', '  *  ']

# 8 . Left Angled Triangle with Numbers

In [ ]:
def Left_Angled_Triangle_with_Numbers(n):
  for i in range(1, n+1):
    for j in range(1, i+1):
      print(i, end='')
    print()

n = int(input('Enter a number: '))
Left_Angled_Triangle_with_Numbers(n)

Enter a number: 4
1
22
333
4444

In [ ]:
def Left_Angled_Triangle_with_Numbers(n):
  arr = []
  for i in range(1, n+1):
    row = ''.join([str(i)] * i)
    arr.append(row)
  return arr

n = int(input('Enter a number: '))
Left_Angled_Triangle_with_Numbers(n)

Enter a number: 6

['1', '22', '333', '4444', '55555', '666666']

# 9 . Floyds Triangle

In [ ]:
def Floyds_Triangle(n):
  m = 1
  for i in range(1, n+1):
    for j in range(i):
      print(m, end=' ')
      m += 1
    print()

n = int(input('Enter a number: '))
Floyds_Triangle(n)

Enter a number: 8
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31 32 33 34 35 36

In [ ]:
def Floyds_Triangle(n):
  m = 1
  store = []
  for i in range(1, n+1):
    row = []
    for j in range(i):
      row.append(m)
      m += 1
    store.append(row)

  result=[]
  for row in store:
    result.append((" ".join(map(str, row))))

  return result

n = int(input('Enter a number: '))
Floyds_Triangle(n)

Enter a number: 3

['1', '2 3', '4 5 6']

In [ ]:
inp = int(input("Enter no: "))
m = 1
list1 = []
for i in range(inp):
    st = ''
    for a in range(i+1):
        st += str(m) + " "
        m += 1
    a = st.strip()
    list1.append(a)

print(list1)

Enter no: 6
['1', '2 3', '4 5 6', '7 8 9 10', '11 12 13 14 15', '16 17 18 19 20 21']

# 10 . Diamond Pattern

In [ ]:
def diamond_pattern(n):
  space = 2 * n - 1
  for i in range(n):
    star = 2 * i + 1
    remaining_space = (space - star)//2
    print(' ' * remaining_space + '*' * star + ' ' * remaining_space)

  for j in range(n-1, 0, -1):
    star = 2 * j - 1
    remaining_space = (space - star)//2
    print(' ' * remaining_space + '*' * star + ' ' * remaining_space)

n = int(input('Enter a number: '))
diamond_pattern(n)

Enter a number: 3
  *
 ***
*****
 ***
  *

In [ ]:
def diamond_pattern(n):
  pattern = []
  space = 2 * n - 1
  for i in range(n):
    star = 2 * i + 1
    remaining_space = (space - star)//2
    pattern.append(' ' * remaining_space + '*' * star + ' ' * remaining_space)

  for j in range(n-1, 0, -1):
    star = 2 * j - 1
    remaining_space = (space - star)//2
    pattern.append(' ' * remaining_space + '*' * star + ' ' * remaining_space)

  return pattern

n = int(input('Enter a number: '))
diamond_pattern(n)

Enter a number: 3

['  *  ', ' *** ', '*****', ' *** ', '  *  ']

#11 . Right Angled Triangle II

In [ ]:
def Right_Angled_Triangle(n):
  for i in range(1, n+1):
    space = n-i
    star = i
    print(" "*space + "*"*star)

n = int(input('Enter a number: '))
Right_Angled_Triangle(n)

Enter a number: 5
    *
   **
  ***
 ****
*****

In [ ]:
def Right_Angled_Triangle(n):
  pattern = []
  for i in range(1, n+1):
    space = n-i
    star = i
    pattern.append(" "*space + "*"*star)
  return pattern
n = int(input('Enter a number: '))
Right_Angled_Triangle(n)

Enter a number: 5

['    *', '   **', '  ***', ' ****', '*****']

#12 . Sandglass Pattern

In [ ]:
def Sandglass_Pattern(n):
  space = 2 * n - 1
  for i in range(n, 0, -1):
    star = 2 * i - 1
    remaining_space = (space - star)//2

    print(" "*remaining_space + "*"*star + " "*remaining_space)

  for j in range(2, n+1):
    star = 2 * j - 1
    remaining_space = (space - star)//2

    print(" "*remaining_space + "*"*star + " "*remaining_space)

n = int(input("Enter a number: "))
Sandglass_Pattern(n)

Enter a number: 5
*********
 *******
  *****
   ***
    *
   ***
  *****
 *******
*********

In [ ]:
def Sandglass_Pattern(n):
  pattern = []
  space = 2 * n - 1
  for i in range(n, 0, -1):
    star = 2 * i - 1
    remaining_space = (space - star)//2

    pattern.append(" "*remaining_space + "*"*star + " "*remaining_space)

  for j in range(2, n+1):
    star = 2 * j - 1
    remaining_space = (space - star)//2

    pattern.append(" "*remaining_space + "*"*star + " "*remaining_space)

  return pattern

n = int(input("Enter a number: "))
Sandglass_Pattern(n)

Enter a number: 3

['*****', ' *** ', '  *  ', ' *** ', '*****']

# 13 . Hollow Right Triangle

In [6]:
def Hollow_Right_Triangle(n):
  for i in range(1, n+1):
    if i==1 or i==n:
      print('*'*i)
    else:
      print('*', end='')
      print(' '*(i-2), end='')
      print('*')

n = int(input('enter a number: '))
Hollow_Right_Triangle(n)

enter a number: 5
*
**
* *
*  *
*****

In [7]:
def Hollow_Right_Triangle(n):
  pattern = []
  for i in range(1, n+1):
    if i==1 or i==n:
      pattern.append('*'*i)
    else:
      pattern.append('*' + ' '*(i-2) + '*')
  return pattern

n = int(input('enter a number: '))
Hollow_Right_Triangle(n)

enter a number: 5

['*', '**', '* *', '*  *', '*****']

#14 . Hollow Inverted Right Triangle

In [10]:
def Hollow_Right_Triangle(n):
  for i in range(n, 0, -1):
    if i==1 or i==n:
      print('*'*i)
    else:
      print('*', end='')
      print(' '*(i-2), end='')
      print('*')

n = int(input('enter a number: '))
Hollow_Right_Triangle(n)

enter a number: 5
*****
*  *
* *
**
*

In [12]:
def Hollow_Right_Triangle(n):
  pattern = []
  for i in range(n, 0, -1):
    if i==1 or i==n:
      pattern.append('*'*i)
    else:
      pattern.append('*'+ ' '*(i-2) +'*')
  return pattern

n = int(input('enter a number: '))
Hollow_Right_Triangle(n)

enter a number: 6

['******', '*   *', '*  *', '* *', '**', '*']

#15 . Number Pyramid Pattern

In [17]:
def Number_Pyramid_Pattern(n):
  for i in range(1, n+1):
    space = n - i
    print(" "* space, end='')
    for j in range(1, i+1):
      if i==n and j == n:
        print(j)
      else:
        print(j, end = ' ')
    print(" "*(space-1))

n = int(input('Enter a number: '))
Number_Pyramid_Pattern(n)

Enter a number: 5
    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [16]:
def Number_Pyramid_Pattern(n):
  pattern = []
  for i in range(1, n+1):
    space = n - i
    strr = ''
    strr += " "* space
    for j in range(1, i+1):
      if i==n and j == n:
        strr += str(j)
      else:
        strr += str(j) + ' '
    strr += " "*(space-1)
    pattern.append(strr)

  return pattern

n = int(input('Enter a number: '))
Number_Pyramid_Pattern(n)

Enter a number: 5

['    1    ', '   1 2   ', '  1 2 3  ', ' 1 2 3 4 ', '1 2 3 4 5']